.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__content {
  position: relative;
  top: 23%;
  box-sizing: border-box;
  width: 496px;
  height: 436px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 28px;
}

.modal__label {
  width: 42px;
  height: 20px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.modal__input {
  width: 440px;
  height: 20px;
  border: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal__close-button {
  background-color: transparent;
  border: none;
  position: relative;
  top: 15px;
  left: 428px;
}

.modal__close-button:hover {
  cursor: pointer;
}

::placeholder {
  width: 42px;
  height: 20px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__add-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__radio-input {
  accent-color: #000000;
}

.modal__label-radio {
  width: 26px;
  height: 20px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}


.modal__label-radio:checked {
  color: #000000;
}

.modal__radios {
  margin-bottom: 8px;
}

.modal__add-button {
  width: 128px;
  height: 36px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 32px;
}


#radio-options{
  margin-bottom: 18px;
}