.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 27px;
  height: 27px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 4px;
}

.switch__slider:hover {
  cursor: pointer;
  left: 18px;
}

.switch__slider-F {
  left: 5px;
}

.switch__slider-C {
  left: 32px;
}

.switch__temp-C {
  position: absolute;
  bottom: -6px;
  left: 41px;
  color: #7E7E7E;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.switch__temp-F {
  position: absolute;
  bottom: -5px;
  left: 14px;
  color: #7E7E7E;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.switch__active {
  color: white;
}
