.weather {
  position: relative;
  min-height: 80px;
}

.weather__info {
  position: relative;
  top: 60px;
  left: 16px;
  color: #fff;
  font-size: 36px;
}

.weather__bar {
  width: 100%;
}

.main {
  padding: 0 40px;
  margin-top: 28px;
}
