.clothesSection__header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 14px;
  padding-top: 55px;
}

.clothesSection__card {
  width: 90px;
}

.clothesSection__card-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  width: 1020px;
  padding-top: 10px;
}

.clothesSection__title {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  padding-right: 15px;
}

.clothesSection__button {
  border: none;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  opacity: 60%;
}

.clothesSection__button:hover {
  opacity: 100%;
  cursor: pointer;
}
